@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), 
        local('Raleway-Regular'), 
        url('../fonts/ralewayregular.woff2') format('woff2'),
        url('../fonts/ralewayregular.woff') format('woff'), 
        url('../fonts/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'),
        local('Raleway-Bold'),
        url('../fonts/ralewaybold.woff2') format('woff2'),
        url('../fonts/ralewaybold.woff') format('woff'),
        url('../fonts/ralewaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    max-width: 700px;
    margin: 0 auto;
    background: linear-gradient(#555 0, #333 100px, #fff 100px) no-repeat;
}

/**** header ****/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

h1 {
    padding: 20px 0;
    color: white;
    font-weight: bold;
}

header > h1 > a {
    text-decoration: none;
    color: white;
}

header > h1 > a:hover {
    color: white;
}

/* Navivation pane */
nav {
    display: flex;
}

nav > a {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
}

/* Content */
h2 {
    margin-bottom: 0;
    font-size: 2em;
}

h2 + p {
    border-top: 1px solid #999;
    padding-top: 15px;
    margin-top: -6px;
}

h3 {
    font-size: 1.8em;
}

h4 {
    padding-left: 10px;
    margin-bottom: -10px;
    font-size: 1.5em;
}

p {
    margin-bottom: 15px;
    line-height: 2;
}

ol {
    padding-left: 20px;
}

.support {
    float: right;
}

.examples li {
    padding-left: 10px;
}

.examples a {
    text-decoration: none;
    font-weight: bold;
}

/* Tables */
table {
    margin-left: 20px;
    margin-top: -5px;
    border-collapse: collapse;
}

td {
    font-variant: small-caps;
    padding: 10px 20px !important;
    border: 1px solid #ccc;
}

td:first-of-type {
    
    font-weight: bold;
}

td a {
    text-decoration: none;
    font-weight: bold;
}

/**** footer ****/
footer {
    padding: 0 5px;
    text-align: right;
}

/**** Pages ****/
main {
    padding: 0 5px;
}

section {
    margin-top: -130px;
    padding-top: 130px;
    display: none;
}

section:target {
    display: block;
}

.download {
    padding: 5px 5px 0 0;
    float: right;
    font-weight: bold;
    text-decoration: none;
}